@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 10px;
    margin-bottom: 30px;
}

li {
    list-style: none;
    font-size: large;
    padding: 0 5px 0 5px;
    float: right;
}

a {
    text-decoration: none;
    color: black;
}

.skills p {
    padding-bottom: 5px;
}

