@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B3499;
    color: #FFD099;
    font-size: 20px;
    font-family: 'Sansita';
    padding: 45px;
}

.about-me {
    margin-bottom: 25px;
}

.edu {
    margin-bottom: 25px;
}

.skills p {
    padding-bottom: 5px;
}