@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B3499;
    color: #FFD099;
    font-size: 20px;
    font-family: 'Sansita';
    padding: 30px;
}

a {
    color: #FFD099;
}

p {
    padding-bottom: 10px;
}