@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B3499;
    color: #FFD099;
    font-size: 20px;
}

.container {
    margin: 20px 30px 20px 30px;
}

nav{
    padding: 10px;
    margin-bottom: 30px;
}

li {
    list-style: none;
    font-size: large;
    padding: 0 10px;
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

.intro-head {
   margin: 20px 0;
   font-size: 50px;
}

.skills p {
    padding-bottom: 5px;
}

.edu {
    margin: 20px 0 20px 0;
}
