@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B3499;
    color: #FFD099;
    font-size: 20px;
    font-family: 'Sansita';
}

.container {
    margin: 20px 30px 20px 30px;
}

nav{
    padding: 10px;
    margin-bottom: 30px;
}

li {
    list-style: none;
    font-size: large;
    padding: 0 10px;
    float: right;
}

a {
    text-decoration: none;
    color: #FFD099;
}

.intro-head {
   margin: 20px 0;
   font-size: 50px;
}

.fleur {
    font-size: 30px;
    float: left;
}

img {
    width: 350px;
}

.home {
   margin: auto;
   text-align: center;
   padding-top: 80px;
}